<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="PREre_CMAinternel" value="_CMAWC_ADMIN_01" />
    <add key="PREre_CMAinternelDev1" value="_CMA_ADMIN_01" />
    <add key="Postre_cmainte" value="dev_mwma_cmaint_01" />
    <add key="LOCRWR_ASSESS" value="_LCA_ASSESS_01@mailinator.com" />
    <add key="LOCRWR_ASSESS_SCL" value="_LCA_ASSESS_03@mailinator.com" />
    <add key="LOCRWR_ASSESS_Post" value="dev_mwma_lca_01@mailinator.com" />
    <add key="LOCRWR" value="_LR_LOCRWR_01@mailinator.com" />
    <add key="LOCRWR_CMA" value="EXPL_CHFS_INTRV" />
    <add key="LOCRWR_CMA_dev3" value="STAN10_DEV1" />
    <add key="LOCRWR_CMA_dev5" value="DEV5_CHFS_INT_REVW_01" />
    <add key="LOCRWR_CMA_dev3_password" value="Pa$$w0rd.1" />
    <add key="LOCRWR_CMA_dev2" value="DEV2_CHFS_CAP_WCR_01" />
    <add key="filepath" value="C:\Users\tsrinivasulu\Desktop\Waiver\Waiver Documents\CT Scan.pdf" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>